
*.xcbkptlist

.DS_Store

NSBackbone.xcodeproj/project.xcworkspace/xcuserdata/berzniz.xcuserdatad/UserInterfaceState.xcuserstate

NSBackbone.xcodeproj/project.xcworkspace/xcuserdata/tal.xcuserdatad/UserInterfaceState.xcuserstate

NSBackbone.xcodeproj/xcuserdata/tal.xcuserdatad/xcschemes/NSBackbone.xcscheme

NSBackbone.xcodeproj/xcuserdata/tal.xcuserdatad/xcschemes/xcschememanagement.plist
